html,
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 26px;
  line-height: 26px;
}
h2 {
  font-size: 24px;
  line-height: 24px;
}
h3 {
  font-size: 22px;
  line-height: 22px;
}
h4 {
  font-size: 20px;
  line-height: 20px;
}
h5 {
  font-size: 18px;
  line-height: 18px;
}
h6 {
  font-size: 16px;
  line-height: 16px;
}
.clear {
  clear: both;
}
.l-container {
  width: 100%;
}
.l-topbar {
  width: 100%;
  height: 40px;
  padding: 20px 0 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}
.l-main-pic {
  width: 100%;
  height: 100vh;
}
.l-main-pic-maxim,
.l-main-pic-maxim-l {
  position: absolute;
  bottom: 65px;
  right: 20%;
}
.l-main-pic-maxim-l {
  right: auto;
  left: 20%;
}
main {
  width: 100%;
  margin: 80px auto;
}
.l-box {
  width: 56%;
  padding: 0 22% 80px 22%;
  float: left;
}
.l-box span {
  display: block;
}
.l-box-grey-t {
  margin: 0px 0 80px 0;
  padding: 2% 22% 0 22%;
  background: #f7f7f7;
}
.l-box-pic1,
.l-box-pic1B,
.l-box-pic1C,
.l-box-pic2,
.l-box-pic3 {
  width: 35%;
  float: left;
}
.l-box-pic1 img,
.l-box-pic1B img,
.l-box-pic1C img,
.l-box-pic2 img,
.l-box-pic3 img {
  display: block;
  width: 100%;
  position: relative;
}
.l-box-pic1 img:first-child {
  z-index: 1;
  transform: translateX(50px);
}
.l-box-pic1 img:last-child {
  z-index: 2;
  transform: translateY(-100px);
}
.l-box-pic1B img:first-child {
  z-index: 2;
}
.l-box-pic1B img:last-child {
  z-index: 1;
  transform: translate(50px, -100px);
}
.l-box-pic1C img:first-child {
  z-index: 1;
}
.l-box-pic1C img:last-child {
  z-index: 2;
  transform: translate(-50px, -100px);
}
.l-box-pic2 img:first-child {
  z-index: 2;
}
.l-box-pic2 img:last-child {
  z-index: 1;
  transform: translate(-50px, -100px);
}
.l-box-pic3 img:first-child {
  transform: translateY(-100px);
}
.l-box-txt {
  width: 47%;
  float: left;
}
.l-box-type1 {
  margin-left: 17%;
}
.l-box-type2 {
  margin-right: 17%;
}
.l-maxim {
  width: 40%;
  margin: 0 30% 0px 30%;
  float: left;
}
.l-home-nav {
  width: 60%;
  margin-top: 30px;
  padding: 0 20% 0 20%;
  background: #f7f7f7;
  float: left;
}
.l-home-banner {
  width: 100%;
  height: 200px;
  float: left;
  margin-bottom: 80px;
}
.l-home-blog {
  width: 60%;
  margin: 150px 0 80px 0;
  padding: 0 20% 0 20%;
  float: left;
  background: #f7f7f7;
}
.l-footer {
  width: 60%;
  float: left;
  padding: 0 20% 0 20%;
  background: #eeeff3;
}
.center-pic,
.head-mainp-about,
.head-mainp-menu,
.head-mainp-reservation,
.head-mainp-contact,
.banner-bg,
.blog-bg1,
.blog-bg2,
.blog-bg3 {
  background-position: center;
  background-size: cover;
}
.menu {
  width: 60%;
  height: 26px;
  padding: 17px 20% 17px 20%;
}
.menu-title {
  float: left;
}
.menu-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  visibility: visible !important;
  background: #fff;
}
.menu-visible ul {
  float: left;
}
.menu-nav {
  float: right;
}
.menu-nav ul {
  margin: 0;
}
.menu-nav li {
  display: block;
  float: left;
  margin: 0 13px 0 13px;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e2633;
}
.menu-nav li.is-active {
  color: #985e5b;
}
.hamburger {
  width: 0;
  height: 0;
  border: 0;
  visibility: hidden;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  margin-top: -12px;
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 5px solid #ddd;
  top: 10px;
}
.hamburger::after {
  top: 25px;
}
.hamburger-active {
  transform: rotate(405deg);
  border: 0 !important;
  transition: 0.3s ease-in-out;
}
.hamburger-active::after {
  transform: rotate(450deg) translateX(-15px);
}
.head-mainp-about,
.head-mainp-menu,
.head-mainp-reservation,
.head-mainp-contact {
  transition-duration: 0.65s;
}
.head-mainp-home {
  background-image: url("../images/mainSlider0.jpg");
}
.head-mainp-home img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.head-mainp-about {
  background-image: url("../images/about-main-pic.png");
}
.head-mainp-menu {
  background-image: url("../images/menu-main-pic.png");
}
.head-mainp-reservation {
  background-image: url("../images/reservation-main-pic.png");
}
.head-mainp-contact {
  background-image: url("../images/contact-main-pic.png");
}
.mainSlider-prev,
.mainSlider-next {
  position: absolute;
  bottom: 80px;
  left: 20%;
  width: 26px;
  height: 26px;
  border: 2px solid #fff;
}
.mainSlider-next {
  left: calc(20% + 40px);
}
.maxim-first {
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 900;
  text-transform: none;
  color: #fff;
  display: block;
}
.maxim-second {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: none;
  color: #985e5b;
}
.section-content-type2 {
  text-align: right;
}
.section-content-type3 {
  text-align: center;
}
.section-content-main {
  font-size: 38px;
  letter-spacing: 5px;
  font-weight: 900;
  text-transform: none;
  color: #1e2633;
}
.section-content-maxim {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #985e5b;
}
.section-content-txt {
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: bold;
  text-transform: none;
  color: #1e2633;
  line-height: 24px;
}
.section-content-quote {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: normal;
  text-transform: none;
  color: #1e2633;
}
.section-content-quote-author {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.show-box-l,
.show-box-r,
.show-box-c {
  width: 24px;
  height: auto;
}
.show-box-l {
  float: left;
}
.show-box-r {
  float: right;
}
.show-box-c {
  margin: 35px auto;
}
.show-dot {
  width: 4px;
  height: 5px;
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 4px;
  background: #1e2633;
}
.nav-btn {
  width: calc(33.3333% - 22px);
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 100px 10px 100px 10px;
  float: left;
}
.nav-btn:first-child,
.nav-btn:last-child {
  border: 0;
  width: calc(33.3333% - 20px);
}
.nav-btn-txt {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: none;
  color: #1e2633;
}
.banner-bg {
  background-image: url("../images/home-banner.png");
}
.banner-btn {
  width: 10%;
  height: auto;
  margin: 84px auto 0 auto;
  padding: 16px 0 16px;
  background: #1e2633;
  z-index: 3;
}
.banner-txt {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.blog-bg1 {
  background-image: url("../images/home-blog-pic1.png");
}
.blog-bg2 {
  background-image: url("../images/home-blog-pic2.png");
}
.blog-bg3 {
  background-image: url("../images/home-blog-pic3.png");
}
.blog-bg-white {
  width: calc(100% - 130px);
  height: calc(100% - 130px);
  margin: 15px;
  padding: 50px;
  background: #fff;
  z-index: 2;
}
.blog-box {
  width: 29.3333%;
  height: 100%;
  float: left;
  margin: 0 6% 0 6%;
  transform: translateY(-100px);
}
.blog-box:first-child,
.blog-box:last-child {
  margin: 0;
}
.blog-date {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d9d9d9;
}
.blog-txt {
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1e2633;
}
.border-space {
  border-bottom: 2px solid #eeeff3;
}
.clear-pad-b {
  padding-bottom: 0px;
}
.footer-box {
  width: calc(33.3333% - 10px);
  padding: 25px 5px 0 5px;
  height: 45px;
  float: left;
}
.footer-txt {
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e2633;
}
.footer-txt ul {
  float: right;
  margin: 0;
  padding: 0 0 0 5px;
}
.footer-txt li {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  border: 2px solid #1e2633;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}
.footer-fb,
.footer-tw,
.footer-gplus {
  background-position: center;
  background-repeat: no-repeat;
}
.footer-fb {
  background-image: url("../images/media-fb.png");
}
.footer-tw {
  background-image: url("../images/media-tw.png");
}
.footer-gplus {
  background-image: url("../images/media-g+.png");
}
@media (max-width: 1324px) and (min-width: 1137px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box {
    width: 66%;
    padding: 0 17% 70px 17%;
  }
  .l-home-nav {
    width: 70%;
    margin-top: 30px;
    padding: 0 15% 0 15%;
  }
  .l-home-blog {
    width: 70%;
    margin: 140px 0 70px 0;
    padding: 0 15% 0 15%;
  }
  .l-footer {
    width: 70%;
    padding: 0 15% 0 15%;
  }
  .menu {
    width: 70%;
    padding: 17px 15% 17px 15%;
  }
}
@media (max-width: 1137px) and (min-width: 997px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box {
    width: 76%;
    padding: 0 12% 50px 12%;
  }
  .l-home-nav {
    width: 80%;
    margin-top: 25px;
    padding: 0 10% 0 10%;
  }
  .l-home-blog {
    width: 80%;
    margin: 120px 0 50px 0;
    padding: 0 10% 0 10%;
  }
  .l-footer {
    width: 80%;
    padding: 0 10% 0 10%;
  }
  .menu {
    width: 80%;
    padding: 17px 10% 17px 10%;
  }
}
@media (max-width: 997px) and (min-width: 851px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box {
    width: 86%;
    padding: 0 7% 40px 7%;
  }
  .l-home-nav {
    width: 90%;
    margin-top: 20px;
    padding: 0 5% 0 5%;
  }
  .l-home-blog {
    width: 90%;
    margin: 110px 0 40px 0;
    padding: 0 5% 0 5%;
  }
  .l-footer {
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .menu {
    width: 90%;
    padding: 17px 5% 17px 5%;
  }
  .blog-box {
    width: 30.6666%;
    margin: 0 4% 0 4%;
    transform: translateY(-50px);
  }
  .banner-btn {
    width: 20%;
  }
}
@media (max-width: 850px) and (min-width: 500px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box-pic1,
  .l-box-pic1B,
  .l-box-pic1C,
  .l-box-pic2,
  .l-box-pic3 {
    width: 100%;
  }
  .l-box-txt {
    width: 100%;
    margin-bottom: 80px;
  }
  .l-box-type1 {
    margin-left: 0%;
  }
  .l-box-type2 {
    margin-right: 0%;
  }
  .l-home-nav {
    width: 96%;
    margin-top: 30px;
    padding: 0 2% 0 2%;
  }
  .l-main-pic-maxim,
  .l-main-pic-maxim-l {
    bottom: 30px;
  }
  .l-footer {
    width: 96%;
    padding: 0 2% 0 2%;
  }
  .menu {
    width: 96%;
    padding: 17px 2% 17px 2%;
  }
  .mainSlider-prev,
  .mainSlider-next {
    bottom: 100px;
  }
  .blog-box {
    width: 100%;
    margin: 0 0 50px 0;
    transform: translateY(-70px);
  }
  .blog-box:first-child {
    margin-bottom: 50px;
  }
  .banner-btn {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-main-pic-maxim,
  .l-main-pic-maxim-l {
    bottom: 30px;
    right: 5%;
  }
  .l-main-pic-maxim-l {
    left: 5%;
  }
  .l-box {
    width: 86%;
    padding: 0 7% 40px 7%;
  }
  .l-box-pic1,
  .l-box-pic1B,
  .l-box-pic1C,
  .l-box-pic2,
  .l-box-pic3 {
    width: calc(100% - 50px);
    margin: 0 25px 0 25px;
  }
  .l-box-pic1 img:first-child {
    transform: translateX(25px);
  }
  .l-box-pic1 img:last-child {
    transform: translateY(-50px);
  }
  .l-box-pic1B img:last-child {
    transform: translate(25px, -50px);
  }
  .l-box-pic1C img:last-child {
    transform: translate(-25px, -50px);
  }
  .l-box-pic2 img:last-child {
    transform: translate(-25px, -50px);
  }
  .l-box-pic3 img:first-child {
    transform: translateY(-50px);
  }
  .l-box-txt {
    width: 100%;
    margin-bottom: 80px;
  }
  .l-box-type1 {
    margin-left: 0%;
  }
  .l-box-type2 {
    margin-right: 0%;
  }
  .l-home-nav {
    width: 90%;
    margin-top: 30px;
    padding: 0 5% 0 5%;
  }
  .l-maxim {
    width: 90%;
    margin: 0 5% 0px 5%;
  }
  .l-home-blog {
    width: 94%;
    margin: 110px 0 60px 0;
    padding: 0 3% 0 3%;
  }
  .l-footer {
    width: 94%;
    padding: 0 3% 0 3%;
  }
  .section-content-main {
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: none;
    color: #1e2633;
  }
  .menu {
    width: 90%;
    padding: 17px 5% 17px 5%;
  }
  .mainSlider-prev,
  .mainSlider-next {
    bottom: 100px;
  }
  .banner-btn {
    width: 50%;
  }
  .nav-btn {
    width: calc(100% - 40px);
    border: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 50px 20px 50px 20px;
  }
  .nav-btn:first-child,
  .nav-btn:last-child {
    width: calc(100% - 40px);
    border: 0;
  }
  .blog-box {
    width: 100%;
    margin: 0 0 50px 0;
    transform: translateY(-70px);
  }
  .blog-box:first-child {
    margin-bottom: 50px;
  }
}
@media (max-width: 850px) and (min-width: 500px) and (max-width: 595px) {
  .footer-box {
    width: calc(33.3333% - 10px);
    padding: 15px 5px 10px 5px;
    height: 45px;
  }
}
@media (max-width: 500px) and (max-width: 430px) and (min-width: 390px) {
  .l-footer {
    width: 94%;
    padding: 0 3% 0 3%;
  }
  .footer-box {
    width: calc(33.3333% - 10px);
    padding: 10px 5px 10px 5px;
    height: 50px;
  }
}
@media (max-width: 500px) and (max-width: 390px) {
  .l-footer {
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .footer-box {
    width: calc(100% - 50px);
    padding: 25px 25px 0 25px;
    text-align: center;
  }
  .footer-txt ul {
    float: right;
  }
}
.l-about-g {
  width: 60%;
  height: 150px;
  padding: 80px 20% 80px 20%;
  float: left;
  border-top: 2px solid #eeeff3;
}
.about-g-pics,
.about-g-hours {
  float: left;
}
.about-g-pics {
  width: 70%;
  height: 100%;
}
.about-g-hours {
  width: calc(30% - 54px);
  height: calc(100% - 29px);
  padding-top: 25px;
  margin-left: 50px;
  border: 2px solid #eeeff3;
}
.about-g-hours span {
  display: block;
}
.about-g-hours p {
  margin: 0px 0 15px 0;
}
.about-g-txt-d {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e2633;
}
.about-g-txt-h {
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e2633;
}
.about-g-pic1 {
  width: 12.5%;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: left;
  background-image: url("../images/about-gallery-pic1.png");
}
.about-g-pic2 {
  width: 12.5%;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: left;
  background-image: url("../images/about-gallery-pic2.png");
}
.about-g-pic3 {
  width: 12.5%;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: left;
  background-image: url("../images/about-gallery-pic3.png");
}
.about-g-pic4 {
  width: 12.5%;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: left;
  background-image: url("../images/about-gallery-pic4.png");
}
.about-g-pic5 {
  width: 12.5%;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: left;
  background-image: url("../images/about-gallery-pic5.png");
}
.about-g-pic6 {
  width: 12.5%;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: left;
  background-image: url("../images/about-gallery-pic6.png");
}
.about-g-pic6 {
  width: 37.5%;
}
.border-space-type1 {
  border-bottom: 2px solid #eeeff3;
  padding-bottom: 30px;
  margin-bottom: 80px;
}
@media (max-width: 1324px) and (min-width: 1137px) {
  .l-about-g {
    width: 70%;
    padding: 80px 15% 80px 15%;
  }
}
@media (max-width: 1137px) and (min-width: 997px) {
  .l-about-g {
    width: 80%;
    padding: 80px 10% 80px 10%;
  }
}
@media (max-width: 997px) and (min-width: 851px) {
  .l-about-g {
    width: 90%;
    padding: 80px 5% 80px 5%;
  }
  .about-g-hours {
    width: calc(30% - 39px);
    height: calc(100% - 24px);
    padding-top: 20px;
    margin-left: 35px;
  }
}
@media (max-width: 850px) and (min-width: 500px) {
  .l-about-g {
    width: 96%;
    padding: 80px 2% 80px 2%;
  }
  .l-about-g p {
    margin: 10px 0 15px 0;
  }
  .about-g-hours {
    width: calc(30% - 14px);
    height: calc(100% - 9px);
    padding-top: 5px;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .l-about-g {
    width: 90%;
    height: auto;
    padding: 80px 5% 80px 5%;
  }
  .l-about-g p {
    margin: 10px 0 15px 0;
  }
  .about-g-pics {
    width: 100%;
    height: 150px;
  }
  .about-g-hours {
    width: calc(100% - 4px);
    height: 150px;
    padding-top: 25px;
    margin-left: 0;
    border: 2px solid #eeeff3;
  }
}
