html,
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 26px;
  line-height: 26px;
}
h2 {
  font-size: 24px;
  line-height: 24px;
}
h3 {
  font-size: 22px;
  line-height: 22px;
}
h4 {
  font-size: 20px;
  line-height: 20px;
}
h5 {
  font-size: 18px;
  line-height: 18px;
}
h6 {
  font-size: 16px;
  line-height: 16px;
}
.clear {
  clear: both;
}
.l-container {
  width: 100%;
}
.l-topbar {
  width: 100%;
  height: 40px;
  padding: 20px 0 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}
.l-main-pic {
  width: 100%;
  height: 100vh;
}
.l-main-pic-maxim,
.l-main-pic-maxim-l {
  position: absolute;
  bottom: 65px;
  right: 20%;
}
.l-main-pic-maxim-l {
  right: auto;
  left: 20%;
}
main {
  width: 100%;
  margin: 80px auto;
}
.l-box {
  width: 56%;
  padding: 0 22% 80px 22%;
  float: left;
}
.l-box span {
  display: block;
}
.l-box-grey-t {
  margin: 0px 0 80px 0;
  padding: 2% 22% 0 22%;
  background: #f7f7f7;
}
.l-box-pic1,
.l-box-pic1B,
.l-box-pic1C,
.l-box-pic2,
.l-box-pic3 {
  width: 35%;
  float: left;
}
.l-box-pic1 img,
.l-box-pic1B img,
.l-box-pic1C img,
.l-box-pic2 img,
.l-box-pic3 img {
  display: block;
  width: 100%;
  position: relative;
}
.l-box-pic1 img:first-child {
  z-index: 1;
  transform: translateX(50px);
}
.l-box-pic1 img:last-child {
  z-index: 2;
  transform: translateY(-100px);
}
.l-box-pic1B img:first-child {
  z-index: 2;
}
.l-box-pic1B img:last-child {
  z-index: 1;
  transform: translate(50px, -100px);
}
.l-box-pic1C img:first-child {
  z-index: 1;
}
.l-box-pic1C img:last-child {
  z-index: 2;
  transform: translate(-50px, -100px);
}
.l-box-pic2 img:first-child {
  z-index: 2;
}
.l-box-pic2 img:last-child {
  z-index: 1;
  transform: translate(-50px, -100px);
}
.l-box-pic3 img:first-child {
  transform: translateY(-100px);
}
.l-box-txt {
  width: 47%;
  float: left;
}
.l-box-type1 {
  margin-left: 17%;
}
.l-box-type2 {
  margin-right: 17%;
}
.l-maxim {
  width: 40%;
  margin: 0 30% 0px 30%;
  float: left;
}
.l-home-nav {
  width: 60%;
  margin-top: 30px;
  padding: 0 20% 0 20%;
  background: #f7f7f7;
  float: left;
}
.l-home-banner {
  width: 100%;
  height: 200px;
  float: left;
  margin-bottom: 80px;
}
.l-home-blog {
  width: 60%;
  margin: 150px 0 80px 0;
  padding: 0 20% 0 20%;
  float: left;
  background: #f7f7f7;
}
.l-footer {
  width: 60%;
  float: left;
  padding: 0 20% 0 20%;
  background: #eeeff3;
}
.center-pic,
.head-mainp-about,
.head-mainp-menu,
.head-mainp-reservation,
.head-mainp-contact,
.banner-bg,
.blog-bg1,
.blog-bg2,
.blog-bg3,
.menu-meals-dish1,
.menu-meals-dish2,
.menu-meals-dish3,
.menu-meals-dish4,
.menu-meals-dish5,
.menu-meals-dish6,
.menu-meals-dish7,
.menu-meals-dish8,
.menu-meals-dish9,
.menu-meals-dish10,
.menu-meals-dish11,
.menu-meals-dish12,
.menu-meals-dish13,
.menu-meals-dish14,
.menu-meals-dish15 {
  background-position: center;
  background-size: cover;
}
.menu {
  width: 60%;
  height: 26px;
  padding: 17px 20% 17px 20%;
}
.menu-title {
  float: left;
}
.menu-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  visibility: visible !important;
  background: #fff;
}
.menu-visible ul {
  float: left;
}
.menu-nav {
  float: right;
}
.menu-nav ul {
  margin: 0;
}
.menu-nav li {
  display: block;
  float: left;
  margin: 0 13px 0 13px;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e2633;
}
.menu-nav li.is-active {
  color: #985e5b;
}
.hamburger {
  width: 0;
  height: 0;
  border: 0;
  visibility: hidden;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  margin-top: -12px;
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 5px solid #ddd;
  top: 10px;
}
.hamburger::after {
  top: 25px;
}
.hamburger-active {
  transform: rotate(405deg);
  border: 0 !important;
  transition: 0.3s ease-in-out;
}
.hamburger-active::after {
  transform: rotate(450deg) translateX(-15px);
}
.head-mainp-about,
.head-mainp-menu,
.head-mainp-reservation,
.head-mainp-contact {
  transition-duration: 0.65s;
}
.head-mainp-home {
  background-image: url("../images/mainSlider0.jpg");
}
.head-mainp-home img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.head-mainp-about {
  background-image: url("../images/about-main-pic.png");
}
.head-mainp-menu {
  background-image: url("../images/menu-main-pic.png");
}
.head-mainp-reservation {
  background-image: url("../images/reservation-main-pic.png");
}
.head-mainp-contact {
  background-image: url("../images/contact-main-pic.png");
}
.mainSlider-prev,
.mainSlider-next {
  position: absolute;
  bottom: 80px;
  left: 20%;
  width: 26px;
  height: 26px;
  border: 2px solid #fff;
}
.mainSlider-next {
  left: calc(20% + 40px);
}
.maxim-first {
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 900;
  text-transform: none;
  color: #fff;
  display: block;
}
.maxim-second {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: none;
  color: #985e5b;
}
.section-content-type2 {
  text-align: right;
}
.section-content-type3 {
  text-align: center;
}
.section-content-main {
  font-size: 38px;
  letter-spacing: 5px;
  font-weight: 900;
  text-transform: none;
  color: #1e2633;
}
.section-content-maxim {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #985e5b;
}
.section-content-txt {
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: bold;
  text-transform: none;
  color: #1e2633;
  line-height: 24px;
}
.section-content-quote {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: normal;
  text-transform: none;
  color: #1e2633;
}
.section-content-quote-author {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.show-box-l,
.show-box-r,
.show-box-c {
  width: 24px;
  height: auto;
}
.show-box-l {
  float: left;
}
.show-box-r {
  float: right;
}
.show-box-c {
  margin: 35px auto;
}
.show-dot {
  width: 4px;
  height: 5px;
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 4px;
  background: #1e2633;
}
.nav-btn {
  width: calc(33.3333% - 22px);
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding: 100px 10px 100px 10px;
  float: left;
}
.nav-btn:first-child,
.nav-btn:last-child {
  border: 0;
  width: calc(33.3333% - 20px);
}
.nav-btn-txt {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: none;
  color: #1e2633;
}
.banner-bg {
  background-image: url("../images/home-banner.png");
}
.banner-btn {
  width: 10%;
  height: auto;
  margin: 84px auto 0 auto;
  padding: 16px 0 16px;
  background: #1e2633;
  z-index: 3;
}
.banner-txt {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.blog-bg1 {
  background-image: url("../images/home-blog-pic1.png");
}
.blog-bg2 {
  background-image: url("../images/home-blog-pic2.png");
}
.blog-bg3 {
  background-image: url("../images/home-blog-pic3.png");
}
.blog-bg-white {
  width: calc(100% - 130px);
  height: calc(100% - 130px);
  margin: 15px;
  padding: 50px;
  background: #fff;
  z-index: 2;
}
.blog-box {
  width: 29.3333%;
  height: 100%;
  float: left;
  margin: 0 6% 0 6%;
  transform: translateY(-100px);
}
.blog-box:first-child,
.blog-box:last-child {
  margin: 0;
}
.blog-date {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d9d9d9;
}
.blog-txt {
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1e2633;
}
.border-space {
  border-bottom: 2px solid #eeeff3;
}
.clear-pad-b {
  padding-bottom: 0px;
}
.footer-box {
  width: calc(33.3333% - 10px);
  padding: 25px 5px 0 5px;
  height: 45px;
  float: left;
}
.footer-txt {
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e2633;
}
.footer-txt ul {
  float: right;
  margin: 0;
  padding: 0 0 0 5px;
}
.footer-txt li {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  border: 2px solid #1e2633;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}
.footer-fb,
.footer-tw,
.footer-gplus {
  background-position: center;
  background-repeat: no-repeat;
}
.footer-fb {
  background-image: url("../images/media-fb.png");
}
.footer-tw {
  background-image: url("../images/media-tw.png");
}
.footer-gplus {
  background-image: url("../images/media-g+.png");
}
@media (max-width: 1324px) and (min-width: 1137px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box {
    width: 66%;
    padding: 0 17% 70px 17%;
  }
  .l-home-nav {
    width: 70%;
    margin-top: 30px;
    padding: 0 15% 0 15%;
  }
  .l-home-blog {
    width: 70%;
    margin: 140px 0 70px 0;
    padding: 0 15% 0 15%;
  }
  .l-footer {
    width: 70%;
    padding: 0 15% 0 15%;
  }
  .menu {
    width: 70%;
    padding: 17px 15% 17px 15%;
  }
}
@media (max-width: 1137px) and (min-width: 997px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box {
    width: 76%;
    padding: 0 12% 50px 12%;
  }
  .l-home-nav {
    width: 80%;
    margin-top: 25px;
    padding: 0 10% 0 10%;
  }
  .l-home-blog {
    width: 80%;
    margin: 120px 0 50px 0;
    padding: 0 10% 0 10%;
  }
  .l-footer {
    width: 80%;
    padding: 0 10% 0 10%;
  }
  .menu {
    width: 80%;
    padding: 17px 10% 17px 10%;
  }
}
@media (max-width: 997px) and (min-width: 851px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box {
    width: 86%;
    padding: 0 7% 40px 7%;
  }
  .l-home-nav {
    width: 90%;
    margin-top: 20px;
    padding: 0 5% 0 5%;
  }
  .l-home-blog {
    width: 90%;
    margin: 110px 0 40px 0;
    padding: 0 5% 0 5%;
  }
  .l-footer {
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .menu {
    width: 90%;
    padding: 17px 5% 17px 5%;
  }
  .blog-box {
    width: 30.6666%;
    margin: 0 4% 0 4%;
    transform: translateY(-50px);
  }
  .banner-btn {
    width: 20%;
  }
}
@media (max-width: 850px) and (min-width: 500px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-box-pic1,
  .l-box-pic1B,
  .l-box-pic1C,
  .l-box-pic2,
  .l-box-pic3 {
    width: 100%;
  }
  .l-box-txt {
    width: 100%;
    margin-bottom: 80px;
  }
  .l-box-type1 {
    margin-left: 0%;
  }
  .l-box-type2 {
    margin-right: 0%;
  }
  .l-home-nav {
    width: 96%;
    margin-top: 30px;
    padding: 0 2% 0 2%;
  }
  .l-main-pic-maxim,
  .l-main-pic-maxim-l {
    bottom: 30px;
  }
  .l-footer {
    width: 96%;
    padding: 0 2% 0 2%;
  }
  .menu {
    width: 96%;
    padding: 17px 2% 17px 2%;
  }
  .mainSlider-prev,
  .mainSlider-next {
    bottom: 100px;
  }
  .blog-box {
    width: 100%;
    margin: 0 0 50px 0;
    transform: translateY(-70px);
  }
  .blog-box:first-child {
    margin-bottom: 50px;
  }
  .banner-btn {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .menu-nav {
    visibility: hidden;
    text-align: center;
  }
  .menu-nav ul {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .menu-nav li {
    width: 90%;
    margin: 10px 5% 10px 5%;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
  .hamburger {
    width: 40px;
    height: 30px;
    border-top: 5px solid #ddd;
    visibility: visible;
    float: right;
    z-index: 100;
  }
  .l-main-pic-maxim,
  .l-main-pic-maxim-l {
    bottom: 30px;
    right: 5%;
  }
  .l-main-pic-maxim-l {
    left: 5%;
  }
  .l-box {
    width: 86%;
    padding: 0 7% 40px 7%;
  }
  .l-box-pic1,
  .l-box-pic1B,
  .l-box-pic1C,
  .l-box-pic2,
  .l-box-pic3 {
    width: calc(100% - 50px);
    margin: 0 25px 0 25px;
  }
  .l-box-pic1 img:first-child {
    transform: translateX(25px);
  }
  .l-box-pic1 img:last-child {
    transform: translateY(-50px);
  }
  .l-box-pic1B img:last-child {
    transform: translate(25px, -50px);
  }
  .l-box-pic1C img:last-child {
    transform: translate(-25px, -50px);
  }
  .l-box-pic2 img:last-child {
    transform: translate(-25px, -50px);
  }
  .l-box-pic3 img:first-child {
    transform: translateY(-50px);
  }
  .l-box-txt {
    width: 100%;
    margin-bottom: 80px;
  }
  .l-box-type1 {
    margin-left: 0%;
  }
  .l-box-type2 {
    margin-right: 0%;
  }
  .l-home-nav {
    width: 90%;
    margin-top: 30px;
    padding: 0 5% 0 5%;
  }
  .l-maxim {
    width: 90%;
    margin: 0 5% 0px 5%;
  }
  .l-home-blog {
    width: 94%;
    margin: 110px 0 60px 0;
    padding: 0 3% 0 3%;
  }
  .l-footer {
    width: 94%;
    padding: 0 3% 0 3%;
  }
  .section-content-main {
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: none;
    color: #1e2633;
  }
  .menu {
    width: 90%;
    padding: 17px 5% 17px 5%;
  }
  .mainSlider-prev,
  .mainSlider-next {
    bottom: 100px;
  }
  .banner-btn {
    width: 50%;
  }
  .nav-btn {
    width: calc(100% - 40px);
    border: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 50px 20px 50px 20px;
  }
  .nav-btn:first-child,
  .nav-btn:last-child {
    width: calc(100% - 40px);
    border: 0;
  }
  .blog-box {
    width: 100%;
    margin: 0 0 50px 0;
    transform: translateY(-70px);
  }
  .blog-box:first-child {
    margin-bottom: 50px;
  }
}
@media (max-width: 850px) and (min-width: 500px) and (max-width: 595px) {
  .footer-box {
    width: calc(33.3333% - 10px);
    padding: 15px 5px 10px 5px;
    height: 45px;
  }
}
@media (max-width: 500px) and (max-width: 430px) and (min-width: 390px) {
  .l-footer {
    width: 94%;
    padding: 0 3% 0 3%;
  }
  .footer-box {
    width: calc(33.3333% - 10px);
    padding: 10px 5px 10px 5px;
    height: 50px;
  }
}
@media (max-width: 500px) and (max-width: 390px) {
  .l-footer {
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .footer-box {
    width: calc(100% - 50px);
    padding: 25px 25px 0 25px;
    text-align: center;
  }
  .footer-txt ul {
    float: right;
  }
}
.l-menu-nav {
  width: 100%;
  float: left;
}
.l-menu-nav ul {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.l-menu-nav li {
  display: inline-block;
  position: relative;
  margin: 0 2.5% 0 2.5%;
  padding-bottom: 30px;
  z-index: 2;
}
.l-menu-nav-border {
  width: 100%;
  height: 2px;
  position: relative;
  float: left;
  background: #eeeff3;
  margin: -2px 0 50px 0;
  z-index: 1;
}
.l-menu {
  width: 60%;
  float: left;
  margin: 0 20% 50px 20%;
}
.l-dish {
  width: 100%;
  height: 85px;
  float: left;
  margin-bottom: 50px;
}
.l-dish-img {
  width: 85px;
  height: 100%;
  float: left;
}
.l-dish-desc {
  width: calc(100% - 270px - 85px);
  height: 100%;
  margin: 0 150px 0 50px;
  float: left;
}
.l-dish-desc p {
  margin: 20px 0 5px 0;
}
.l-dish-price {
  width: 70px;
  height: calc(100% - 51.5px);
  margin-top: 33.5px;
  float: left;
}
.menu-meals-nav {
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e2633;
}
.menu-meals-title {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: none;
  color: #1e2633;
}
.menu-meals-desc {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: none;
  color: #1e2633;
}
.menu-meals-dolar {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: none;
  color: #1e2633;
}
.menu-meals-cent {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: none;
  color: #eeeff3;
}
.menu-meals-current {
  padding-bottom: 30px;
  border-bottom: 2px solid #985e5b;
}
.menu-meals-dish1 {
  background-image: url("../images/menu-dish1.png");
}
.menu-meals-dish2 {
  background-image: url("../images/menu-dish2.png");
}
.menu-meals-dish3 {
  background-image: url("../images/menu-dish3.png");
}
.menu-meals-dish4 {
  background-image: url("../images/menu-dish4.png");
}
.menu-meals-dish5 {
  background-image: url("../images/menu-dish5.png");
}
.menu-meals-dish6 {
  background-image: url("../images/menu-dish6.png");
}
.menu-meals-dish7 {
  background-image: url("../images/menu-dish7.png");
}
.menu-meals-dish8 {
  background-image: url("../images/menu-dish8.png");
}
.menu-meals-dish9 {
  background-image: url("../images/menu-dish9.png");
}
.menu-meals-dish10 {
  background-image: url("../images/menu-dish10.png");
}
.menu-meals-dish11 {
  background-image: url("../images/menu-dish11.png");
}
.menu-meals-dish12 {
  background-image: url("../images/menu-dish12.png");
}
.menu-meals-dish13 {
  background-image: url("../images/menu-dish13.png");
}
.menu-meals-dish14 {
  background-image: url("../images/menu-dish14.png");
}
.menu-meals-dish15 {
  background-image: url("../images/menu-dish15.png");
}
@media (max-width: 1324px) and (min-width: 1137px) {
  .l-menu {
    width: 70%;
    margin: 0 15% 50px 15%;
  }
}
@media (max-width: 1137px) and (min-width: 997px) {
  .l-menu {
    width: 80%;
    margin: 0 10% 50px 10%;
  }
  .l-dish-desc p {
    margin: 15px 0 5px 0;
  }
}
@media (max-width: 997px) and (min-width: 851px) {
  .l-menu {
    width: 90%;
    margin: 0 5% 50px 5%;
  }
  .l-dish-desc p {
    margin: 10px 0 5px 0;
  }
}
@media (max-width: 850px) and (min-width: 500px) {
  .l-menu {
    width: 96%;
    margin: 0 2% 50px 2%;
  }
  .l-dish-desc {
    width: calc(100% - 195px);
    height: 100%;
    margin: 0 20px 0 20px;
  }
  .l-dish-desc p {
    margin: 2px 0 5px 0;
  }
}
@media (max-width: 500px) {
  .l-menu {
    width: 98%;
    margin: 0 1% 50px 1%;
  }
  .l-menu-nav ul {
    width: 100%;
  }
  .l-menu-nav li {
    margin: 0 1.5% 0 1.5%;
  }
  .l-dish {
    height: auto;
  }
  .l-dish-img {
    width: 85px;
    height: 85px;
  }
  .l-dish-desc {
    width: calc(100% - 160px);
    height: 100%;
    margin: 0 10px 0 10px;
  }
  .l-dish-desc p {
    margin: 2px 0 5px 0;
  }
  .l-dish-price {
    width: 55px;
  }
}
@media (max-width: 500px) and (max-width: 350px) {
  .menu-meals-nav {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: #1e2633;
  }
}
